/* preloader */
#preloader {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #827717;
    z-index: 9999;
}
#preloader .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

/* image background */
body {
    background-image: url("../images/tinypng/recursos-adicionais.jpg");
    background-size: cover;
    background-repeat: repeat;
}

.div-scroll {
    border: 1px solid #827717;
    border-radius: 8px;
    padding: 20px 50px 20px 50px;
    height: 70vh;
    width: 100%;
    overflow-y: auto;
    background-color: #82771717;
}

/* underline title */
.line-text {
    width: 50%;
    height: 2px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #827717;
}