/* preloader */
#preloader {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #01579b;
    z-index: 9999;
}
#preloader .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

/* image background */
body {
    background-image: url("../images/tinypng/img-rota2.jpg");
    background-size: auto;
    background-repeat: repeat;
}

/* underline title */
.line-text {
    width: 50%;
    height: 2px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #01579b;
}