/* imagem background */
body {
    background-image: url("../images/tinypng/img-encerramento.jpg");
    background-size: cover;
    background-repeat: repeat;
}

.margin-container {
    margin: 15px !important;
}