@font-face {
    font-family: roboto-black;
    src: url('../font/roboto/roboto-black.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('../font/roboto/roboto-light.ttf');
}

@font-face {
    font-family: bebas;
    src: url('../font/bebas/bebas.ttf')
}


h1 {
    font-family: bebas;
}

