/* container feeedback para telas muito pequenas - width < 319px */
.container-small-screen {
    display: none;
}

/* imagem background */
body {
    background-image: url("../images/tinypng/background-init.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* container do botão - começe sua trilha */
.container-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* botão - começe sua trilha */
button {
    background-color: #ffd600 !important;
}