@media only screen and (max-width:319px) {
    .container-text,
    .wrapper-text,
    .h1-index,
    .h2-index,
    .h3-index,
    video,
    button {
        display: none;
    }

    .feedback-screen {
        display: block;
        font-size: 2.5em;
        line-height: 30px;
        text-align: center;
        padding: 10px;
    }

    .feedback-smile {
        display: block;
        font-size: 5em;
        line-height: 50px;
        text-align: center;
        padding: 10px;
    }

    body .container {
        width: 100vw;
    }

    .wrapper {
        width: 100%;
        margin: auto;
        align-items: center;
    }
}

@media only screen and (max-width:520px) {
    .wrapper {
        width: 100%;
        margin: auto;
    }

    .h1-index {
        font-size: 4em;
        line-height: 45px;
        text-align: center;
    }

    .btn-enter {
        width: 90%;
        margin: auto;
    }

    .video {
        
    }
 }

@media only screen and (max-width:720px) {
    .wrapper {
        width: 90%;
        margin: auto;
    }
 }

 @media only screen and (max-width:992px) {
    .wrapper {
        width: 80%;
        margin: auto;
    }
 }