/* preloader */
#preloader {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(64, 22, 133);
    z-index: 9999;
}
#preloader .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

/* container feeedback screens <= 319px */
.container-small-screen {
    display: none;
}

/* image background */
body {
    background-image: url("../images/tinypng/background-init.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* container button - começe sua trilha */
.container-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* button - começe sua trilha */
button {
    background-color: #ffd600 !important;
}