* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 10px;
    line-height: 10px;
    background-color: #000000;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.container-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.li-first-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.second-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.li-second-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}