/* imagem background */
body {
    background-image: url("../images/tinypng/image-trilha.jpg");
    background-size: cover;
}

/* video fixo */
.video-fixed {
    width: 40%;
    height: 100vh;
    left: 50%;
    position: fixed;
    margin: 0 5% 0 5%;
}

/* container da lista */
.container-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* container dos items */
.container-item {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
    margin: 5px;
}

/* efeito container items */
.container-item:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 5px;
}

/* items da lista  */
.item-list {
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* bullet do item */
.icon-list {
    padding: 0 10px 0 0;
}

/* último item da lista */
.last-item {
    margin-bottom: 8vh;
}

/* rodapé */
.footer-section {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
