body {
    background-image: url("../assets/images/tinypng/image-trilha.png");
    background-size: cover;
}

.container-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contaier-lists {

}

.item-list {
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon-list {
    margin: 5px;
    padding: 5px;
}