
@media only screen and (max-width:520px) {
    .container-text-trilha {
        width: 10%;   
    }

    .text-trilha {
        font-size: 14px;
        margin-top: 30px;
    }

    .background {
        width: 90%;
    }

    .item-first-list, .item-second-list {
        font-size: 1.4em;
        line-height: 20px;
    }
 }

@media only screen and (max-width:720px) {
    
 }

 @media only screen and (max-width:992px) {

 }