@font-face {
    font-family: roboto-black;
    src: url('font/roboto/roboto-black.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('font/roboto/roboto-light.ttf');
}

@font-face {
    font-family: bebas;
    src: url('font/bebas/bebas.ttf')
}

h1 {
    font-family: bebas;
}

p, a, h2, h3, button {
    font-family: roboto-light;
}

.feedback-screen {
    font-family: roboto-light;
}