* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: rgba(9, 255, 0, 0.699);
    width: 100vw;
    height: 100vh;
    font-size: 10px;
    line-height: 10px;
}

header {
    width: 15vw;
    height: 100vh;
    margin: auto;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.4);
    background-color: rgba(9, 255, 0, 0.699);
}

.divisor {
    width: 1px;
    height: 100vh;
    position: absolute;
    background-color: #ffffff;
}

ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    width: 70%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ffffff;
    cursor: pointer;
    background-color: rgb(21, 197, 21);
    z-index: 1;
}

#progressBar {
    width: 80%;
}

a {
    color: #ffffff;
    font-size: 1.2em;
    line-height: 20px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

.container {
    width: 100%;
    height: auto;
}

section {
    width: 80vw;
    height: auto;
    float: right;
    padding: 10px;
    margin-bottom: 10%;
}

h1 {
    font-size: 3em;
    line-height: 35px;
}

p {
    font-size: 2.5em;
    line-height: 30px;
    padding: 20px;
    width: 80%;
}