* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html, body {
    font-size: 10px;
    line-height: 10px;
}

.feedback-screen {
    display: none;
}

.section-index {
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("assets/images/tinypng/background-init.jpg");
    background-size: cover;
    background-color: rgb(255, 115, 0);
}

.div-wrapper-index {
    background-color: rgba(255, 255, 255, 0.322);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.div-content-index {
    width: 50%;
    height: auto;
    margin: 20px;
}

.h1-index {
    font-size: 6em;
    line-height: 65px;
}

.h2-index {
    font-size: 1.8;
    line-height: 23px;
}

.h3-index {
    font-size: 1.6em;
    line-height: 21px;
}

video {
    width: 50%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    width: 50%;
    height: 50px;
    cursor: pointer;    
    border-radius: 5px;
    font-size: 1.8em;
    color: rgb(185, 83, 0);
    border: 0px solid rgb(8, 78, 23);
    background-color: rgb(255, 142, 49);
    box-shadow: 1px 1px 0.5px #5a5a5a;
    -webkit-transition: 1s ease-in-out; // navegadores webkit, como Safari e Chrome
    -moz-transition: 1s ease-in-out; // Firefox
    -o-transition: 1s ease-in-out; // Opera
}

button:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: rgb(255, 115, 0);
} 