@media screen and (max-width:319px) {
    .container-text,
    .wrapper-text,
    .h1-index,
    .h2-index,
    .h3-index,
    video,
    button {
        display: none;
    }

    .feedback-screen {
        display: block;
        font-size: 3em;
        line-height: 35px;
        text-align: center;
    }
}

@media screen and (min-width:320px) {
    
    /* index */
    .wrapper {
        display: block;
        margin-top: 10vh;
    }

   .container-text {
        width: 100%;
        height: auto;   
    }

    .wrapper-text {
        width: 100%;
    }

    .h1-index {
        font-size: 4em;
        line-height: 48px;
    }

    .h2-index {
        font-size: 2.3em;
        line-height: 31px;
        padding: 5px;
    }

    .h3-index {
        font-size: 1.8em;
        line-height: 26px;
        padding: 5px;
    }

    video {
        width: 100%;
        height: auto;
    }

    button {
        width: 100%;
        font-size: 1.6em;
        line-height: 24px;
        color: #ffffff;
        border: 1px solid #ffffff;
        background-color: rgb(255, 115, 0);
    }

    /* content */

 }


@media screen and (min-width:768px) {
    /* index */
    .wrapper {
        width: 60%;
        margin-top: 2vh;

    }
 }

@media screen and (min-width:992px) {
    
    /* index */
    .wrapper {
        width: 50%;
    }

    button {
        color: rgb(185, 83, 0);
        border: 0px solid rgb(8, 78, 23);
        background-color: rgb(255, 142, 49);
        box-shadow: 1px 1px 0.5px #5a5a5a;
        -webkit-transition: 1s ease-in-out; // navegadores webkit, como Safari e Chrome
        -moz-transition: 1s ease-in-out; // Firefox
        -o-transition: 1s ease-in-out; // Opera
    }
    
    button:hover {
        color: #ffffff;
        border: 1px solid #ffffff;
        background-color: rgb(255, 115, 0);
    } 
 }

@media only screen and (min-width: 1382px) {
    /* index */
    .wrapper {
        width: 40%;
    }
 } 